[submodule "1"]
	path = build-self/cimgui/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "2"]
	path = build-self/cimgui
	url = https://github.com/extrawurst/cimgui
	branch = docking_inter
[submodule "3"]
	path = build-self/cimplot
	url = https://github.com/cimgui/cimplot.git
[submodule "4"]
	path = build-self/cimnodes
	url = https://github.com/cimgui/cimnodes.git
[submodule "5"]
	path = build-self/cimguizmo
	url = https://github.com/cimgui/cimguizmo.git
