[submodule "imgui"]
	path = build-self/cimgui/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "cimgui"]
	path = build-self/cimgui
	url = https://github.com/cimgui/cimgui
	branch = docking_inter
[submodule "cimplot"]
	path = build-self/cimplot
	url = https://github.com/cimgui/cimplot.git
[submodule "cimnodes"]
	path = build-self/cimnodes
	url = https://github.com/cimgui/cimnodes.git
[submodule "cimguizmo"]
	path = build-self/cimguizmo
	url = https://github.com/cimgui/cimguizmo.git
